USE [master]
GO
/****** Object:  Database [PraksaDB]    Script Date: 11/08/2022 13:13:46 ******/
CREATE DATABASE [PraksaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PraksaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PraksaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PraksaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PraksaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PraksaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PraksaDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/08/2022 13:13:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Foodstuff]    Script Date: 11/08/2022 13:13:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Foodstuff](
	[foodstuffId] [int] IDENTITY(1,1) NOT NULL,
	[foodstuffName] [varchar](50) NULL,
	[measurementId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[foodstuffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 11/08/2022 13:13:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredients](
	[ingredientID] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [decimal](18, 0) NULL,
	[recipeID] [int] NULL,
	[foodstuffId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ingredientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeasurementUnit]    Script Date: 11/08/2022 13:13:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeasurementUnit](
	[measurementId] [int] IDENTITY(1,1) NOT NULL,
	[measurement] [varchar](2) NULL,
	[measurement_long] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[measurementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 11/08/2022 13:13:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipes](
	[RecipeID] [int] IDENTITY(1,1) NOT NULL,
	[RecipeTitle] [varchar](255) NOT NULL,
	[ImageUrl] [varchar](255) NOT NULL,
	[categoryID] [int] NULL,
	[recipePrice] [decimal](18, 0) NULL,
	[recipeDescription] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RecipeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Storage]    Script Date: 11/08/2022 13:13:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Storage](
	[storageId] [int] IDENTITY(1,1) NOT NULL,
	[foodstuffId] [int] NULL,
	[quantity] [decimal](18, 0) NOT NULL,
	[min_quantity] [decimal](18, 0) NOT NULL,
	[under_min] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[storageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Storage_input]    Script Date: 11/08/2022 13:13:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Storage_input](
	[storageInputId] [int] IDENTITY(1,1) NOT NULL,
	[foodstuffId] [int] NULL,
	[quantity] [decimal](18, 0) NOT NULL,
	[inputDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[storageInputId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Storage] ADD  DEFAULT ((1)) FOR [under_min]
GO
ALTER TABLE [dbo].[Foodstuff]  WITH CHECK ADD FOREIGN KEY([measurementId])
REFERENCES [dbo].[MeasurementUnit] ([measurementId])
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD FOREIGN KEY([foodstuffId])
REFERENCES [dbo].[Foodstuff] ([foodstuffId])
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD FOREIGN KEY([recipeID])
REFERENCES [dbo].[Recipes] ([RecipeID])
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD  CONSTRAINT [fk_categoryID] FOREIGN KEY([categoryID])
REFERENCES [dbo].[Categories] ([categoryID])
GO
ALTER TABLE [dbo].[Recipes] CHECK CONSTRAINT [fk_categoryID]
GO
ALTER TABLE [dbo].[Storage]  WITH CHECK ADD FOREIGN KEY([foodstuffId])
REFERENCES [dbo].[Foodstuff] ([foodstuffId])
GO
ALTER TABLE [dbo].[Storage_input]  WITH CHECK ADD FOREIGN KEY([foodstuffId])
REFERENCES [dbo].[Foodstuff] ([foodstuffId])
GO
USE [master]
GO
